{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forumStyling.css' %}">
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <title>School Forum</title>
</head>
<body>

    <div class="forum-pages-wrapper">

        {% include 'forumPages/navbar.html' %}

        {% block forum_content %}
        
        {% endblock %}
    </div>
    
</body>
</html>