{% extends 'forumPages/base.html' %}


{% block forum_content %}
{% load static %}


<div class="forum-homepage-wrapper">
    <h1>School Forum</h1>
    <div class="top-bar">
        <a href="{% url 'write_post' %}" class="write-btn">
            Write Something
        </a>
        <div class="user-info">
            <h3>{{request.user.username}}</h3>
            <img src="{% static 'images/dummyProfile.png' %}" alt="">
        </div>
    </div>
    <div class="posts-wrapper">
        <div class="left-side">
            <h2>Latest Posts</h2>
            <div class="posts">
                {% for post in posts %}
                <a href="#" class="post">
                    <h3>{{post.content|safe}}</h3>
                </a>
                {% endfor %}
            </div>
            <div class="pagination-controls">
                {% if posts.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="pagination-info">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
                
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                    <a href="?page={{ posts.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
        <div class="right-side">
            <h2>Most Popular</h2>
            <div class="posts">
                <a href="#2" class="post">
                    <h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, veritatis?
                    </h4>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}