{% load static %}
<div class="navbar-3">
    <h1 class="logo">
        LogoHere
    </h1>
    <div class="links">
        <a href="#" class="nav-link">Home</a>
        <a href="{% url 'forum_homepage' %}" class="nav-link">Forum</a>
        <a href="#" class="nav-link">Timetable</a>
    </div>
    <div class="right-side">
        <div class="icons">
            <a href="#">
                <i class="fa fa-bell"></i>
            </a>
        </div>
        <a href="{% url 'my_profile_page' %}" class="profile-info">
            <img src="{% static 'images/dummyProfile.png' %}" alt="" class="profile-img">
        </a>
    </div>
</div>