:root {
    --primary-color: #FF7E67;
    --secondary-color: #FFD24C;
    --accent: #7DCE82;
    --background: #FFF6E5;
    --text-color: #4B515D;
}

@font-face {
    font-family: 'Nunito';
    src: url('../static/fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../static/fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito';
}

.forum-pages-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-3 {
    width: 100%;
    display: flex;
    background-color: var(--background);      
    padding: .3rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.navbar-3 .logo {
    color: var(--primary-color);
}

.navbar-3 .right-side .profile-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

/* FORUM HOMEPAGE STYLING STARTS HERE  */

.forum-homepage-wrapper {
    display: flex;
    padding: 2rem 3rem;
    flex-direction: column;
    
}

.forum-homepage-wrapper .top-bar {
    width: 100%;
    padding: 2rem;
    display: flex;
    
    justify-content: space-between;
}

.forum-homepage-wrapper .top-bar a.write-btn {
    color: var(--text-color);
    box-shadow: 0px 0px 1px var(--text-color);
    padding: 1rem;
    border-radius: 6px;
}

.forum-homepage-wrapper .top-bar a.write-btn:hover {
    color: white;
    background-color: var(--accent);
    box-shadow: 0px 0px 1px var(--accent);
}

.forum-homepage-wrapper .top-bar .user-info {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.forum-homepage-wrapper .posts-wrapper {
    display: flex;
    flex-direction: row;
}

.forum-homepage-wrapper .top-bar .user-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.forum-homepage-wrapper .left-side {
    width: 72%;   
    padding: 2rem;
}

.forum-homepage-wrapper .left-side .posts {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.forum-homepage-wrapper .left-side .posts .post {
    width: 100%;
    box-shadow: 0px 0px 1px var(--text-color);
    padding: 1.5rem;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 15px !important;
}

.forum-homepage-wrapper .left-side .posts .post:hover {
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.forum-homepage-wrapper .right-side {
    padding: 2rem;
    box-shadow: 0px 0px 1px var(--text-color);
    border-radius: 8px;
    flex: 1;
}

.forum-homepage-wrapper .right-side .posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
}

.forum-homepage-wrapper .right-side .posts .post {
    width: 100%;
    box-shadow: 0px 0px 1px var(--text-color);
    color: var(--text-color);
    padding: .7rem;
    border-radius: 8px;
}

.forum-homepage-wrapper .right-side .posts .post:hover {
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    text-decoration: none;   
    font-family: 'Nunito';
}

.pagination-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    gap: 15px;
}

.pagination-controls a {
    color: var(--text-color);
    border-radius: 3px;
    border: 1px solid var(--text-color);
    padding: 5px;
    
}

/* WRITE POST PAGE STYLING STARTS HERE  */

.write-post-page-wrapper {
    width: 100%;
}

.write-post-page-wrapper #editor {
    width: 50%;
}

.write-post-page-wrapper #post-form input.post-title {
    color: var(--text-color);
    border-radius: 3px;
    border: 1px solid var(--text-color);
    font-size: 16px;
    padding: 5px;
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

.write-post-page-wrapper #post-form input.post-title:focus {
    border: 1px solid  var(--accent);
    color: var(--accent);
}




/* READ POST PAGE STYLING STARTS HERE  */

.read-post-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.read-post-page-wrapper .post-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.read-post-page-wrapper .left-side {
    width: 72%;   
    padding: 2rem;
}

.read-post-page-wrapper .top-bar {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.read-post-page-wrapper .top-bar a.write-btn{
    color: var(--text-color);
    box-shadow: 0px 0px 1px var(--text-color);
    padding: 1rem;
    border-radius: 6px;
}

.read-post-page-wrapper .top-bar .user-info {
        display: flex;
        text-decoration: none;
        flex-direction: row;
        gap: 15px;
        align-items: center;
}

.read-post-page-wrapper .top-bar .user-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.read-post-page-wrapper .top-bar a.write-btn:hover {
    color: white;
    background-color: var(--accent);
    box-shadow: 0px 0px 1px var(--accent);
}

.read-post-page-wrapper .left-side .post {
    width: 100%;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 8px;
    overflow: hidden;
}

.read-post-page-wrapper .left-side .post .post-content {
    padding: 1.5rem;
}

.read-post-page-wrapper .left-side .post .post-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--text-color);   
}

.read-post-page-wrapper .left-side .post .post-controls input {
    font-size: 19px;
    padding: 10px;
    width: 80%;
    border: none;
    outline: none;
}

.read-post-page-wrapper .left-side .post .post-controls .btns {
    display: flex;
    flex: 1;
}
.read-post-page-wrapper .left-side .post .post-controls .btns button {
    color: var(--text-color);
    background-color: transparent;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.read-post-page-wrapper .left-side .post .post-controls .btns button:nth-child(1) {
    border-left: 1px solid var(--text-color);
}
.read-post-page-wrapper .left-side .post .post-controls .btns button:nth-child(2) {
    border-left: 1px solid var(--text-color);
}

.read-post-page-wrapper .left-side .post .title {
    color: var(--accent);
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.read-post-page-wrapper .right-side {
    padding: 2rem;
    box-shadow: 0px 0px 1px var(--text-color);
    border-radius: 8px;
    flex: 1;
}

.read-post-page-wrapper .post-replies {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem ;
    margin-left: 2rem;
}

.read-post-page-wrapper .post-replies .post-reply {
    padding: 1.5rem;
    border-radius: 10px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 1px var(--text-color);
    color: var(--text-color);
}

.read-post-page-wrapper .post-replies .post-reply .username {
    color: black;
    font-weight: 700;
    font-size: 18px;
}